body {
    margin: 0;
    /* padding: 0; */
    font-family: arial, sans serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

ul {
    list-style-type: none;
    margin: 0;
    /* padding: 0; */
    overflow: hidden;
    background-color: #3A75BB;
}

li {
    float: left;
}

li a,
li a:link,
a:visited {
    display: block;
    color: #252424;
    text-align: center;
    padding: 15px;
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: None;
}

li a:hover {
    color: rgb(245, 218, 199);
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 700;
    text-transform: uppercase;
}


/* 
li a:active {
    background-color: rgb(83, 11, 11);
    color: rgb(20, 19, 19);
    font-weight: 700;
} */
#home,
#course_info,
#course_policy,
#assignments,
#quizzes,
#lectures,
#support {
    height: auto;
    /* padding-top: 50px; */
}

#home {
    color: #e9e9e9;
    background: #FFB53F;

}

#course_info {
    background-color: #e9e9e9;
}

#course_policy {
    background-color: #e9e9e9;
}

#assignments {
    background-color: #e9e9e9;
}

#quizzes {
    background-color: #e9e9e9;
}

#lectures {
    background-color: #e9e9e9;
}

#support {
    background-color: #e9e9e9;
}

.page {
    width: 100%;
    /* padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px; */
    height: 0px;
    background-color: #ccc;
}

.floating-page-header {
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 800;
    text-transform: uppercase;
    color: #363a3d;
    font-style: normal; 
    font-variant: normal; 
    line-height: 9.9px; 
    text-transform: uppercase;
    line-height: 30px;
    font-size: 30px;
    /* padding-left: 10px; */
    position: -webkit-sticky;
    position: sticky;
    top: 150px;
    z-index: 3;

  }


h1,h2,h3,h4,h5,h6 {
  font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';  
  font-weight: 200;
  text-transform: uppercase;
  color: #363a3d;
  font-style: normal; 
  font-variant: normal; 
  text-transform: uppercase;
  /* padding-left: 10px; */
  position: -webkit-sticky;
  position: sticky;
  z-index: 3;
}

h2{
  position:relative;
  font-weight: bolder;
  left:10px; 
}

h3{
  position:relative;
  left:50px; 
}

h4{
  position:relative;
  left:100px; 
}

h5{
  position:relative;
  left:150px; 
}
h6{
  position:relative;
  left:200px; 
}

  #home_heading {
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 900;
    text-transform: uppercase;
    color: #363a3d;
    font-style: normal; 
    font-variant: normal; 
    line-height: 36px; 
    text-transform: uppercase;
    font-size: 50px;
    /* padding-left: 10px; */
    text-align: center;
    top: 150px;
    z-index: 3;

  }


  #home_heading_b {
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 900;
    text-transform: uppercase;
    color: #363a3d;
    font-style: normal; 
    font-variant: normal; 
    text-transform: uppercase;
    line-height: 20px; 
    font-size: 25px;
    /* padding-left: 10px; */
    text-align: center;
    z-index: 3;

  }


  p{
    color: #222222;
  }

 *{
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .left_column {
    float: left;
    width: 20%;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    
  }

  

  .right_column {
    float: left;
    width: 70%;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    
  }

  .left_column_home {
    float: left;
    width: 0%;

    
  }

  .center_column {
    float: left;
    width: 100%;
    padding-top: 100px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    
  }
  
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .left_column {
        float: left;
        width: 100%;
        /* padding: 30px; */

    }
    
    .right_column {
        float: left;
        width: 100%;
        /* padding: 20px; */
    }
  }

 
  .table-course-structure{
    width: 60%;
    margin: 0px auto;
  }

  .table-lectures{
    width: 90%;
    margin: 0px auto;
  }

  th {
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
  }

  td {
    border-bottom: 1px solid #ddd;
  }
